.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color:#4A4737; 
    color: #B0AB99; 
    font-family: 'Arial', sans-serif; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
 
* {
    margin:0;
    padding:0;
}
  .headlogo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
  }
  
  .namelogo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .headbotton a {
    text-decoration: none;
    color:#B0AB99; 
    margin-right: 20px;
    transition: color 0.3s ease; 
  }
  
  .headbotton a:hover {
    color: #7B7421; 
  }


  .titlebox  {
    text-align: center;
    padding: 200px 0 50px; 
    color: #00BBB2; 
  }
  
  #title {
    margin-top: 100px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase; 
    margin: 0; 
  }


.textblock {
    margin-top: 30px;
    font-size: 18px;
    color: #08957E ; 
    margin-bottom: 20px; 
    text-align: center; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
  }
  
  .photoblock {
    margin-top: 30px;
    max-width: 100%; 
    display: block;
    margin: 0 auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  #titlecontact {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .list {
   
    list-style-type: square;
    padding-left: 20px;
  }
  
  .list li {
    margin-left:  48%;
    margin-bottom: 10px;
  }
  
  .list li a {
    color: #3498db;
    text-decoration: none;
  }
  
  .list li a:hover {
    text-decoration: underline;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.weather {
    background-color: #4A4737;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    width: 300px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.weather p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.weather h2 {
    font-size: 32px;
    color: #222;
    margin-bottom: 30px;
}

.weather::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(ellipse at center,#B0AB99 0%, rgba(255, 255, 255, 0) 70%);
    transform: translate(-25%, -25%) rotate(45deg);
}




.weather-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 15px;
}

.weather-info {
    flex: 1;
    text-align: left;
}

.time {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.status {
    font-size: 16px;
    color: #555;
}

.weather-icon img {
    width: 50px;
    height: auto;
}

.temp,
.condition {
    font-size: 16px;
    color: #888;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}